@import "main.css";

.history {
    display: block;
    margin: 0 auto;
    padding: 20px;

    max-width: 1700px;
}

/* Rundar av hörnen på bilderna */
.history>section>img {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
}

.history>section:not(:last-child) {
    margin-bottom: 50px;
}

h2:not(.footer h2),
h3:not(.footer h3) {
    text-align: center;
}

p {
    font-size: 1.2rem;
}