/*css för evengemang.html*/

/*grid template för udda evengemang*/
#evengemang-1, #evengemang-3 {
    /*specifika kolumner*/
    grid-template-columns: auto 320px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "rubrik bild"
    "text bild";
}

/*grid template för jämna evengemang - bild till vänster*/
#evengemang-2 {
    /*specifika kolumner*/
    grid-template-columns: 320px auto;
    grid-template-areas: 
    "bild rubrik"
    "bild text";
}