/*styles som gäller för alla sidor*/

/*tillbaka*/
#tillbaka {
    position: absolute;
}

/*variablar*/
:root {
    /*färger*/

    --bg-header-footer: #2e6e52;
    --txt-header-footer: #fafafa;
    --bg-meny: #1f4a37;
    --bg-extra-footer: #1f4a37;

    --txt-main: #000;
    --bg-main: #fafafa;

    --txt-sprak: #fafafa;
    --bg-sprak: #000;

    --txt-modal: #fafafa;
    --bg-modal: #1f4a37;
    --bg-modal-top: #2e6e52;
    --backdrop-modal: #0008;

    --shdw-clr: rgba(0, 0, 0, 0.25);

    --link-hover-clr: #ccc;
}

/*standard för bilder*/
img {
    max-width: 100%;
    height: auto;
}

/*Tar bort marginaler för bodyn*/
body {
    margin: 0px;
    padding: 0px;
}


/*för alla i body*/
body * {
    /*ger font för hela sidan*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*sätter backgrundsfärg till main*/
main {
    background-color: var(--bg-main);
}

/*css för containers som behöver sprida ut items*/
.spread-container {
    /*flexbox*/
    display: flex;
    /*gör mellanrum*/
    justify-content: space-between;
    /*padding så att den inte nuddar kanten*/
    padding: 15px;
}

/*alla i spread*/
.spread-container * {
    /*marginaler*/
    margin-top: auto;
    margin-bottom: auto;
    /*textfärg*/
    color: var(--txt-header-footer);
}

/*kommun logga*/
#logotyp-kommun {
    /*padding ovan och under*/
    padding: 10px 0px 10px 0px;
    /*storlek*/
    width: 64px;
    height: 64px;
}

/*css för header*/
header {
    /*bakgrundsfärg*/
    background-color: var(--bg-header-footer);
}

/*css för navlänkar*/
.nav-lank {
    /*tar bort undelinje*/
    text-decoration: none;
    /*ändrar textstorlek*/
    font-size: large;
}

/*css för stor test i header*/
header>h1 {
    /*margins*/
    margin: auto 5px;
    /*fontstorlek*/
    font-size: xxx-large;
}

/*footer*/
footer {
    /*färger*/
    background-color: var(--bg-header-footer);
    color: var(--txt-header-footer);
}

/*css för extra containern*/
#extra-container {
    /*ger annan bakgrundsfärg*/
    background-color: var(--bg-extra-footer);
}

/*göm sociala mederiikoner för liten skärm vid stor skärm*/
#media-liten-skarm {
    display: none;
}

/*knapp för att byta språk*/
#byt-sprak {
    /*runda hörn*/
    border-radius: 13px;
    /*tar bort default border*/
    border: 0px;
    /*padding*/
    padding: 6px;
    /*färger*/
    background-color: var(--bg-sprak);
    color: var(--txt-sprak);
    /*skugga*/
    box-shadow: var(--shdw-clr) 2px 2px;
}

/*css för hamburgarmenyn*/
#hamburgarmeny {
    /*ger bredd och höjd*/
    height: 30px;
    width: 30px;
    /*gömmer som standard*/
    display: none;
    /*ändrar riktning*/
    flex-direction: column;
    justify-content: space-between;
    /*tar bort standardbakgrundsfärg*/
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

/*css för hamburgarmenyns delar*/
#hamburgarmeny>div {
    /*ger bredd och höjd*/
    height: 8px;
    width: 30px;
    /*färg*/
    background-color: var(--bg-sprak);
    /*runda hörn*/
    border-radius: 4px;
    /*skugga*/
    box-shadow: var(--shdw-clr) 2px 2px;
}

/*sätter area för selectionyta*/
#hamburgarmeny-mus-area {
    /*hjälper placering*/
    position: absolute;
    /*position*/
    top: 0px;
    right: 20px;
    /*storlek*/
    height: 248px;
    width: 114px;
    pointer-events: none;
}

/*css för den öppna hamburgarmenyn*/
#oppen-hamburgarmeny {
    /*visar inte standard*/
    display: none;
    /*gör positionen kan manipuleras*/
    position: absolute;
    /*bestämd storlek*/
    width: 100px;
    height: 120px;
    /*sätter positionen*/
    top: 114px;
    right: 20px;
    /*bakgrundsfärg*/
    background-color: var(--bg-meny);
    /*padding till kanten*/
    padding: 7px;
    /*ändrar flex håll*/
    flex-direction: column;
    /*trycker bort items från varandra*/
    justify-content: space-between;
    /*sätter längst fram*/
    z-index: 1;
}

/*media query för mindre skärmar*/
@media screen and (max-width:640px) {

    header>h1 {
        /*ändrar font för mindre skärmar*/
        /*ändras dynamiskt*/
        font-size: 7vw;
    }


    #logotyp-kommun {
        /*annan storlek på loggan vid större skärm*/
        width: 32px;
        height: 32px;
    }

    #oppen-hamburgarmeny {
        /*ändrar position vid mindre skärmar*/
        top: 93px;
    }
}

/*för länkarna i den öppna menyn*/
#oppen-hamburgarmeny>.nav-lank {
    /*tar bort marginal*/
    margin: 0px;
}

/*media query för respopnsivitet i header - för små skärmar*/
@media screen and (max-width: 850px) {
    #hamburgarmeny {
        /*visar vid små skärmar - ska vara flexbox*/
        display: flex;
    }

    header>.nav-lank {
        /*gömmer länkarna vid små skärmar*/
        display: none;
    }

    /*css för containers till meny och språk*/
    #menu-container {
        /*extra bredd*/
        width: 99px;
    }
}

/*media query för respopnsivitet i header - för små skärmar - ännu mindre*/
@media screen and (max-width: 380px) {
    /*css för header och menu containern i header då deras padding ska minskasq*/
    header, #menu-container{
        /*minskar padding för mindre skärmar - !important för att den ska prioriteras*/
        padding-right: 2vw !important;
        padding-left: 2vw !important;
    }
}

/*heading för en sida*/
#sida-titel {
    /*sätter texten i mitten*/
    text-align: center;
}

/*main*/

/*de två artiklarna på hem och artiklar på evengemangssidan - ge grid*/
.artikel-bredvid-bild {
    display: grid;
    /*mellanrum mellan items i grid*/
    grid-gap: 10px;
    /*två rader*/
    grid-template-rows: auto auto;
    /*marginal till kanten*/
    margin: 5px;
}
/*ger grid area för delarna av artikeln*/
.artikel-text{
    grid-area: text;
}
.artikel-titel{
    grid-area: rubrik;
}
.artikel-bild{
    grid-area: bild;
}

/*media query för artikelresponsivitet*/
@media screen and (max-width: 700px) {
    /*flyttar bilden till nedanför - important gör att den prioriteras över id:ns style*/
    .artikel-bredvid-bild {
        grid-template-rows: auto auto auto !important;
        grid-template-columns: auto !important;
        grid-template-areas: 
        "rubrik"
        "text"
        "bild" !important;
    }

    /*centrerar bilden*/
    .artikel-bild {
        margin: 0px auto;
    }
}


/*Responsivitet för footer*/
@media screen and (max-width: 650px) {
    
    #media-liten-skarm {
        /*visa mediaikonerna vid liten skärm*/
        display:block;
        /*margins*/
        margin: 0px 15px 10px 15px;
    }

    #media-stor-skarm {
        /*göm de andra mediaikonerna vid liten skärm*/
        display:none;
    }

    /*css för navigationsbaren i footern*/
    #nav-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "titel ."
        "hem evengemang"
        "aktiviteter historia";
    }

    /*css för hem i footer*/
    footer .hem {
        /*ger rätt grid area*/
        grid-area: hem;
        /*extra margins*/
        margin: 5px 0px;
    }

    /*css för aktiviteter i footer*/
    footer .aktiviteter {
        /*ger rätt grid area*/
        grid-area: aktiviteter;
        /*extra margins*/
        margin: 5px 0px;
    }

    /*css för evengemang i footer*/
    footer .evengemang {
        /*ger rätt grid area*/
        grid-area: evengemang;
        /*ändrar text align för de till höger*/
        text-align: right;
        /*extra margins*/
        margin: 5px 0px;
    }

    /*css för historia i footer*/
    footer .historia {
        /*ger rätt grid area*/
        grid-area: historia;
        /*ändrar text align för de till höger*/
        text-align: right;
        /*extra margins*/
        margin: 5px 0px;
    }

    /*css för kontaktinfo i footern*/
    #kontakt-container {
        /*lägger allt under varandra för små skärmar*/
        display: block;
    }

    /*css för extra i footern*/
    #extra-container {
        /*lägger allt under varandra för små skärmar*/
        display: block;
    }

    /*css för text i extra i footern*/
    #extra-container>p {
        /*extra margins*/
        margin: 7px 0px;
    }

    /*css för texter i kontaktinfo i footern*/
    #kontakt-container>p {
        /*extra margins*/
        margin: 7px 0px;
    }
}

/*för knappar*/
button {
    /*tar bort bakgrund*/
    background: none;
    /*ingen border*/
    border: 0px;
    /*fontstorlek*/
    font-size: large;
    /*ingen padding*/
    padding: 0px;
    /*gör att musen blir en pointer*/
    cursor: pointer;
}

button:hover {
    color: var(--link-hover-clr);
}

/*container för modal*/
.modal {
    /*tar bort borderna*/
    border: 0;
    /*bakgrundsfärg*/
    background-color: var(--bg-modal);
    /*maxbredd*/
    max-width: 500px;
    /*padding*/
    padding: 5px;
    /*textfärg*/
    color: var(--txt-modal);
    /*marginal top*/
    margin-top: 50px;
    padding: 0px;
}

/*för backdrop i modal*/
.modal::backdrop {
    /*ger en alpha i backdrop*/
    background-color: var(--backdrop-modal);
}

/*för övre delen av modal*/
.modal-header {
    /*sprider ut items*/
    display: flex;
    justify-content: space-between;
    /*centrerar vertikalt*/
    align-content: center;
    /*bakgrundfärg*/
    background-color: var(--bg-modal-top);
    /*padding*/
    padding: 5px 16px;
}

/*för bodyn i en modal*/
.modal-body {
    /*padding på kanterna*/
    padding: 16px 16px;
    /*sprider ut texten*/
    text-align: justify;
}

/*css för exitknappen*/
.modal-exit {
    /*textfärg*/
    color: var(--txt-modal);
    /*backgrunsfärg*/
    background-color: #000;
    /*padding gör den kvadratisk*/
    padding: 2px 6px 2px 6px;
    /*gör knappen rund*/
    border-radius: 14px;
    /*tar bort border*/
    border: 0;
    /*skugga*/
    box-shadow: var(--shdw-clr) 2px 2px;
    /*större text*/
    font-size: medium;
    /*gör att musen blir en pointer*/
    cursor: pointer;

}

/*för själva formen som exitknappen ligger i*/
.modal-exit-form {
    /*marginal - till höger ger jämt avstånd till alla kanter*/
    margin: auto 18px auto 10px;
}

/*för text i modal*/
.modal-text {
    /*ingen margin*/
    margin: 0;
}

/*för form inuti modal*/
.modal-form {
    /*centrerar*/
    margin: 0px auto;
    /*maxbredd*/
    max-width: 350px;
}

/*alla inputs i formsen*/
.form-input {
    /*margin vertikalt*/
    margin: auto 0px;
    /*ingen border*/
    border: 0;
    /*runda hörn*/
    border-radius: 10px;
    /*padding*/
    padding: 2px 7px;
    /*ger grid area*/
    grid-area: input;
}

/*alla labels i formsen*/
.form-label {
    /*display: inline-block;*/
    margin: auto 0px;
    /*ger grid area*/
    grid-area: label;
}

/*för grupper i en form, innehåller en input och en label*/
.form-group {
    /*display*/
    display: grid;
    /*gridinställningar*/
    grid-template-columns: 50px auto;
    grid-gap: 5px;
    grid-template-areas: "label input";
    /*marginaler topp och botten*/
    margin: 15px 0px;
}