@import "main.css";

.article-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(60px auto);
    grid-template-areas: 
    "m m"
    "l f";
}

@media screen and (max-width: 700px){
    .article-content {
        grid-template-rows: repeat(60px auto auto);
        grid-template-areas: 
        "m m"
        "l l"
        "f f";
    }
}

.article-text {
    grid-area: m;
}

.article-image {
    grid-area: f;
    margin-left: 4px;
}

.article-list {
    grid-area: l;
}

.article-credits {
    display: flex;
    justify-content: space-between;
    width: 100%;
}