@import "main.css";
dialog {
    position: absolute;
}

#kai {
    width: 360px;
    height: 360px;
}

#wakamole {
    font: inherit;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px white;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}

#wakamole:hover {
    color: yellow;
}