@import "main.css";
dialog {
    position: absolute;
}

#kai {
    width: 360px;
    height: 360px;
}

#wakamole {
    font: inherit;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px white;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}

#wakamole:hover {
    color: yellow;
}

.mongo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(60px auto);
    grid-template-areas: 
    "m m"
    "l f";
}

@media screen and (max-width: 700px){
    .mongo {
        grid-template-rows: repeat(60px auto auto);
        grid-template-areas: 
        "m m"
        "l l"
        "f f";
    }
}

.mongotext {
    grid-area: m;
}

.mongoflagga {
    grid-area: f;
}

.mongolista {
    grid-area: l;
}

