body {
    background-image: url("../img/GOONES.jpg");
    /*gör att bakgrunden täcks av bilden*/
    background-size: cover;
    /*Bara en bild*/
    background-repeat: no-repeat;
    /*Bakgrundsbilden sitter still när man skrollar*/
    background-attachment: fixed;
    /*sätter bakgrunsbolden i mitten så ponti alltid syns.*/
    background-position: center;
}

main {
    background-color: rgb(50, 53, 59);
    padding: 20px;
    margin: 60px auto;
    width: 80%;
    border-radius: 15px;
    max-width: 900px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fafafa;
}

h1 {
    text-align: center;
    
}

a {
    color: cyan;
}

li {
    margin: 20px 0px;
}