<article class="article" id="{% block id %}{% endblock id %}">
    <div class="article-container">
        <h3 class="article-header">{% block header %}{% endblock header %}</h3>
        <div class="article-content">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
</article>