{% extends "articles/base.html.j2" %}

{% block id %}canadaelection{% endblock id %}
{% block header %}Kanadas val - Liberalerna håller sig kvar vid makten{% endblock header %}

{% block content %}
                
    <p class="article-text">
        Under gårdagen (28/4) gick Kanada till val och <a href="https://www.bbc.com/news/articles/cn4jd39g8y1o" target="_blank">resultatet</a>
        visar att Liberala partiet, under ledning av <a href="https://en.wikipedia.org/wiki/Mark_Carney" target="_blank">Mark Carney</a>,
        får förnyat förtroende. Valet präglades starkt av oro över relationen till USA och president Trumps
        aggressiva retorik. I en tid av ekonomisk och politisk osäkerhet valde väljarna att satsa på stabilitet och
        erfarenhet.
    </p>

    <p class="article-list">
        Trots att Liberalerna inte lyckades nå egen majoritet så behåller de regeringsmakten genom stöd från
        mindre partier. Konservativa partiet stärkte sin ställning, men partiledaren
        <a href="https://en.wikipedia.org/wiki/Pierre_Poilievre" target="_blank">Pierre Poilievre</a> förlorade sin
        egen valkrets. Valresultatet visar en tydlig signal: kanadensarna vill stå emot yttre påtryckningar och
        behålla sin nationella integritet. Mark Carney lovar nu att stå upp för Kanadas självständighet och stärka
        landets position både inrikes och internationellt.
    </p>
    
    <div class="article-image">
        <img src="/img/carney.jpg" alt="Val i Kanada 2025">
        <p class="article-credit">
            <span>
                Bild: "<a href="https://www.flickr.com/photos/worldeconomicforum/6777361543" target="_blank">Mark Carney</a>"
                by
                <a href="https://www.flickr.com/photos/worldeconomicforum/" target="_blank">World Economic Forum</a>
                is licensed under
                <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">CC BY-NC-SA 2.0</a>
            </span>
            <span>
                Skribent: <a href="" class="author">Ancap</a>
            </span>
        </p>
    </div>

{% endblock content %}
            