{% extends "articles/base.html.j2" %}

{% block id %}cosines{% endblock id %}
{% block header %}Hintar Kanye West till trigonometri i sin musik?{% endblock header %}

{% block content %}

<p class="article-text">
    I Kanye Wests nya låt "Cousines" verkar det som att han syftar på något annat än en sexuell relation med sin
    släkting. Man hade kunnat anse att han syftar på den trigonometriska funktionen cosinus (cos). Men stämmer det
    verkligen? </p>

<div class="article-list">
    <p></p>
    <ul>
        <li>På <a href="https://sv.wikipedia.org/wiki/Kanye_West#Uppv%C3%A4xt">Wikipedia</a> står det att Kanye West
            gick ut
            high school med bra betyg. Detta pekar på att West har lärt sig mycket matematik genom åren. I den skolan
            han
            gick på ingick det även i läroplanen att läsa trigonometri, vilket pekar på att Kanye introducerades till
            grundläggande trigonometriska begrepp som sinus, cosinus och tangens i tidig ålder. </li>
        <li>I många av de album West har släppt så har en stor andel av albumomslagen någon form av cirkel, vilket kan
            efterliknas med en cosinuskurva. Det visar att han verkligen uppskattar just den funktionen. Man kan även
            härleda till cosinussatsen då hans albumomslag också innehåller trianglar.</li>

    </ul>
    <p>Allting pekar på att Kanye Wests låt "Cousines" faktiskt handlar om den trigonometriska funktionen cosinus. Nästa
        gång du ska tolka Wests låtar kom då ihåg att han har ett starkt intresse av trigonometri!</p>
</div>

<div class="article-image">
    <img src="img/cos1.png" alt="Grafen y = cos(x)">
    <img src="img/enhetscirkeln.png" alt="Enhetscirkeln">
    <p class="article-credit">
        <span>
            Skribent: <a href="" class="author">Saxhytt</a>
        </span>
    </p>
</div>

{% endblock content %}