{% extends "articles/base.html.j2" %}

{% block id %}facts{% endblock id %}
{% block header %}Har Ben Shapiro verkligen faktan?{% endblock header %}

{% block content %}

<p class="article-text">
    Förra året släppte den ökända artisten Tom MacDonald en hiphop-låt vid namn "Facts" tillsammans med Daily
    Wire-personligheten Ben Shapiro. Låten fick väldigt mycket kritik på grund av extremt tydlig transfobi, rasism etc.
    Nu, 16 månader efter, känner jag att det är passande att reviewa Bens feature från ett opartiskt perspektiv och
    bortse från artisternas kontroverser.
</p>

<div class="article-list">
    <p></p>
    <ul>
        <li>Beat: 8/10<br>Beatet är väldigt bra. Den skapar en särskild "Own the libs-vibe" som exalterar en. Den är
            tillräckligt mycket för att göra intryck men inte så pass mycket att den överröstar sången.</li>
        <li>Röst: 7/10<br>Även rösten är väldigt bra. Bens naturligt nasala röst passar perfekt då den övertygar en om
            hans argument. Han är även en väldigt snabb talare vilket är bra när man ska rappa och det bildas ett fint
            flow.</li>
        <li>Klädsel: 4/10<br>Ben Shapiro bär en hoodie med ett tryck på. Jag tycker att den inte passar honom alls som
            medelåldersgubbe. Jag fann detta citat under musikvideon som kändes värd att ta upp: "Ben looks like
            that's the first time he has ever worn a hoodie and he doesn't like it". Under den sista hälften har han en
            kostym vilket är mycket snyggare.</li>
        <li>Lyrics: 6/10<br>Texten är det som står ut mest i låten. Positivt är att han lyckas nämna en del
            popkulturhändelser och håller sig relevant. Som en wokie själv känner man sig definitivt dissad efter att
            man har lyssnat. Mina favoritbars är bland annat den tvetydiga "Dawg, it's a yarmulke, homie, no cap" som
            är elegant och imponerande. Ett annat exempel är "My money like Lizzo, my pockets are fat" för att den är så
            sjuk. Man kan anse att den baren är lite fatfobisk vilket är ett rimligt klagomål. Låten i sin helhet är
            väldigt dömande och rasistisk/homofobisk men jag tycker det är positivt att detta inte finns i alls lika
            stor utsträckning i Bens feature vilket räddar ratingen.</li>
    </ul>
    <p>För att sammanfatta är hans feature välproducerad med välgjord och genomtänkt text men personligen skulle jag
        valt en annan klädsel. Personligen håller jag inte alls med Ben politiskt och blir därför äcklad av låten som
        koncept, men om jag bortser från det så är den väldigt underhållande. Överlag 6/10!</p>
</div>

<div class="article-image">
    <img src="img/facts.jpg" alt="Ben Shapiro">
    <p class="article-credit">
        <span>
            Bild: "<a href="https://commons.wikimedia.org/wiki/File:Ben_Shapiro_by_Gage_Skidmore_2.jpg" target="_blank">Ben Shapiro (2018)</a>"
            by
            <a href="https://www.flickr.com/photos/gageskidmore/" target="_blank">Gage Skidmore</a>
            is licensed under
            <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" target="_blank">CC BY-SA 3.0</a>
        </span>
        <span>
            Skribent: <a href="" class="author">Ancap</a>
        </span>
    </p>
</div>

{% endblock content %}