{% extends "articles/base.html.j2" %}

{% block id %}Battle of the garbage dump{% endblock id %}
{% block header %}Har kriget mellan pakistan och indien en koppling till haikyuu?{% endblock header %}

{% block content %}

<p class="article-text">
    Kriget som tagit världen med storm kan minst sagt kallas garbage. Battle of the garbage nästan, detta då indier är
    kända föpr sin ovillighet att duscha. Men Pakistan är inte direkt en rosenträdgård heller.</p>

<div class="article-list">
    <p></p>
    <ul>
        <li>Under en särskilt kaotisk period av konflikten 2019 twittrade en högt uppsatt indisk general att "momentum
            is everything" – liksom Karasuno’s final set." Uttalandet raderades snabbt, även om inget försvinner från
            internet.
            Analytiker misstänker nu att generalstaben använder sportanime som psykologisk krigsföring.
        </li>
        <li>
            Det kanske tydligaste beviset för kopplingen är hur Indiens sopberg vuxit parallellt med krigsretoriken.
            Enligt en FN-rapport luktar vissa delar av New Delhi numera så starkt att satelliter plockar upp
            ammoniakångorna. "Det är som att hela nationen tränar för en verklig 'Battle at the Garbage Dump'", sa en
            anonym diplomat under ett möte i Genève. Pakistan å sin sida bidrar inte direkt till renhetens ära. Karachi
            har beskrivits som "en stad där sopor, getter och regeringen lever i total symbios.
        </li>

    </ul>
    <p>
        Mycket lutar mot att indien och Pakistan är i krig på grund av en missförstådd referens till Haikyuu filmen
        "battle of the garbage dump".
    </p>
</div>

<div class="article-image">
    <img src="img/GARBAGE.png" alt="SKRÄP.png">
    <p class="article-credit">
        <span>
            Skribent: <a href="" class="author">Annoying orange</a>
        </span>
    </p>
</div>

{% endblock content %}