{% extends "articles/base.html.j2" %}

{% block id %}garbage{% endblock id %}
{% block header %}Har kriget mellan Pakistan och Indien en koppling till Haikyuu?{% endblock header %}

{% block content %}

<p class="article-text">
    Kriget som tagit världen med storm kan minst sagt kallas garbage. ████████ ███ ████ █, █████ ██ ██████ ██
    █████ ███ ███ ██████████ ███ ██████. Men Pakistan är inte direkt en rosenträdgård heller.</p>

<div class="article-list">
    <p></p>
    <ul>
        <li>Under en särskilt kaotisk period av konflikten 2019 twittrade en högt uppsatt indisk general att "momentum
            is everything" – liksom Karasuno’s final set." Uttalandet raderades snabbt, även om inget försvinner från
            internet.
            Analytiker misstänker nu att generalstaben använder sportanime som psykologisk krigsföring.
        </li>
        <li>
            █████ ██ ██████ ██
    █████ ███ ███ ██████████ ███ ██████.
            Enligt en FN-rapport luktar vissa delar av New Delhi numera så starkt att satelliter plockar upp
            ammoniakångorna. "█████ ██ ██████ ██
    █████ ███ ███ ██████████ ███ ██████", sa en
            anonym diplomat under ett möte i Genève. █████ ██ ██████ ██
    █████ █████████ ███ ██████. Karachi
            har beskrivits som "████████ ████████████ ████████".
        </li>

    </ul>
    <p>
        Mycket lutar mot att indien och Pakistan är i krig på grund av en missförstådd referens till Haikyuu filmen
        "██████  ██████ ████████ ███ █".
    </p> 
</div>

<div class="article-image">
    <img src="img/GARBAGE.png" alt="SKRÄP.png">
    <p class="article-credit">
        <span>
            Skribent: <a href="" class="author">Annoying orange</a>
        </span>
    </p>
</div>

{% endblock content %}