{% extends "articles/base.html.j2" %}

{% block id %}leo{% endblock id %}
{% block header %}Hintar Påven till leklandsbranschen i sitt namnval?{% endblock header %}

{% block content %}

<p class="article-text">
    Det har snart gått en månad sedan sede vacante där den nya påven Leo XIV tog makten. Han tycks vara mer konservativ än
    Franciskus men fortfarande god och omtänksam. Mycket fokus har legat på hans nationalitet, det är troligen ingen
    slump att de väljer en amerikan till påve i tider som denna. Men vad kan hans namnval säga om honom och hur kan det
    kopplas till den svenska leklandsbranschen?
</p>

<div class="article-list">
    <p>
        Påvar väljer ofta ett namn som ska spegla deras tankar och etik, den förra påven Leo var en förespråkare för
        arbetare under 1800-talet. Men vad annat är namnet Leo känt för? Jo, lekland!
    </p>
    <p>
        Leo's lekland är nordens största leklandsföretag. De värnar om barns välmående och aktivitet, samt
        vinstmarginaler. Men sedan pandemin har företaget haft det svårare och svårare att förbli relevant. Framväxten
        av så kallade "iPad kids" har gjort att barn inte längre far dit för att leka. För varje år som går håller de
        färre kalas och säljer färre skumraketer.
    </p>
    <p>
        Men kan det vara så att påven försöker visa sitt stöd för Leo's lekland genom sitt namn? Mycket pekar på att
        Robert Prevost en gång i tiden var minderårig och har därför varit på ett lekland tidigare. Den slutsatsen man
        kan dra är att Robert såg leklandets hårda kamp och ville stötta dem.
    </p>
    <p>
        Personligen är jag glad över påvens nya namn. Det både stödjer en tuff bransch och sätter Sverige på kartan.
        Tyvärr gick det inte hela vägen för vår egna Anders Arborelius, men att företaget från Luleå får en shoutout är
        fullt tillräckligt för mig!
    </p>
</div>

<div class="article-image">
    <img src="/img/bollhav.jpg" alt="Val i Kanada 2025">
    <p class="article-credit">
        <span>
            Bild: "<a href="https://www.flickr.com/photos/nyberg_fredrik/6015840584" target="_blank">Elsa i bollhavet</a>"
            by
            <a href="https://www.flickr.com/photos/nyberg_fredrik/" target="_blank">Fredrik Nyberg</a>
            is licensed under
            <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">CC BY-NC-SA 2.0</a>
        </span>
        <span>
            Skribent: <a href="" class="author">Ancap</a>
        </span>
    </p>
</div>

{% endblock content %}