{% extends "articles/base.html.j2" %}

{% block id %}mongolia{% endblock id %}
{% block header %}Mongoliska börsen{% endblock header %}

{% block content %}

    <p class="article-text">
        Tyvärr är den mongoliska börsen (MSE) i en knepig situation just nu. Den går bara ner och ner
        vilket
        förvärrar mongolernas vardag. Det traditionella instrumentet morin khuur blir allt dyrare och
        folket
        kan inte fortsätta med sin enda passion i livet - strupsång.
    </p>

    <div class="article-list">
        <p>Men du kan göra något åt detta!</p>
        <ul>
            <li>Köp mongoliska aktier!</li>
            <li>Boka charter till Mongoliet!</li>
            <li>Hjälp <a href="https://www.youtube.com/@BatzorigVaanchig" target="_blank">Batzorig
                    Vaanchig</a>
                genom att kolla på hans <a href="https://www.youtube.com/watch?v=p_5yt5IX38I"
                    target="_blank">videor</a>!</li>
        </ul>
        <p>Tillsammans räddar vi Mongoliet!</p>
    </div>

    <div class="article-image">
        <img src="/img/mongolia.png" alt="Mongoliska flaggan">
        <p class="article-credit">
            <span>
                Bild: <a
                        href="https://commons.wikimedia.org/wiki/File:Flag_of_Mongolia_(Pantone_colors).png"
                        target="_blank">Wikipedia</a>
            </span>
            <span>
                Skribent: <a href="" class="author">Saxhytt</a>
            </span>
        </p>
    </div>

{% endblock content %}