{% extends "articles/base.html.j2" %}

{% block id %}osterskar{% endblock id %}
{% block header %}Upptäck idylliska Österskär{% endblock header %}

{% block content %}

    <p class="article-text">
        Bara ett stenkast från Stockholm ligger Österskär - en pärla i Österåkers skärgård. 
        Här möts du av glittrande vatten, mysiga stränder och charmiga villakvarter. 
        Ett perfekt resmål för både lata sommardagar och energigivande helgutflykter.
    </p>

    <div class="article-list">
        <p>Så varför inte ta en tur hit?</p>
        <ul>
            <li>Ta tåget direkt till Österskärs station - SL:s bästa slutstation!</li>
            <li>Njut av ett dopp vid Österskärs havsbad!</li>
            <li>Fika på något av de hemtrevliga caféerna vid vattnet!</li>
        </ul>
        <p>Österskär - där hav möter harmoni.</p>
    </div>

    <div class="article-image">
        <img src="/img/osterskar.jpg" alt="Mongoliska flaggan">
        <p class="article-credit">
            <span>
                Bild: <a
                        href="https://www.flickr.com/photos/56433265@N04/25310746453"
                        target="_blank">Wikipedia</a>
            </span>
            <span>
                Skribent: <a href="" class="author">Webbgun</a>
            </span>
        </p>
    </div>

{% endblock content %}