{% extends "articles/base.html.j2" %}

{% block id %}papa{% endblock id %}
{% block header %}Leo XIV, Robert F. Prevost, har Vatikanstaten som A-traktor: "Overkligt"{% endblock header %}

{% block content %}

<p class="article-text">
    Strax efter 18-tiden idag 8/5 rök det vitt ur skorstenen i Rom. Runt 80 minuter senare fick världen veta vem den nya
    påven blir. Hans namn är <strong>Robert Francis Prevost</strong> och hans påvenamn blir <strong>Leo XIV</strong>. Efter drygt ett dygn i konklaven
    lyckades kardinalerna enas. Förra påven Franciskus krävde tre gånger så lång tid för att bli utsedd.
</p>

<div class="article-list">
    <p>Vem är Leo XIV?</p>
    <ul>
        <li>Han är 69 år gammal. </li>
        <li>Han och född i USA.</li>
        <li>Leo är mer konservativ än Franciskus.</li>
    </ul>
    <p>Leo, den nya amerikanska påven!</p>
</div>

<div class="article-image">
    <img src="/img/papa.avif" alt="Den nya påven">
    <p class="article-credit">
        <span>
            Bild: <a href="https://www.heute.at/i/naechster-papst-wird-die-favoriten-vor-dem-konklave-120105787/doc-1iq39rt5b0" target="_blank">Heute.at</a>
        </span>
        <span>
            Skribent: <a href="" class="author">Ancap</a>
        </span>
    </p>
</div>

{% endblock content %}
