{% extends "articles/base.html.j2" %}

{% block id %}plastpase{% endblock id %}
{% block header %}Hintar Kanye West till plastpåseskatt i sin musik?{% endblock header %}

{% block content %}

<p class="article-text">
    I Kanye Wests nya låt "Cousines" verkar det som att han syftar på något annat än en sexuell relation med sin
    släkting. Man hade kunnat anse att han syftar på homofonen "kassens" och därmed den nyligen borttagna
    plastpåseskatten. Men stämmer det verkligen?</p>

<div class="article-list">
    <p></p>
    <ul>
        <li>I en gammal artikel från <a href="https://atmos.earth/antisemitism-kanye-west-climate-movement/">atmos</a>
            beskrivs det hur klimatrörelsen har stora problem med antisemitism. Bland annat att judiska forskare får
            mindre tid i rampljuset i jämförelse med andra folkgrupper. Men å andra sidan är klimatförändring och
            antisemitism intimt relaterade. "Just as climate change has roots in colonialism and capitalism, it also has
            a history in antisemitism." - YESSENIA FUNES. Eftersom Kanye gång på gång öppet visat sitt interna judehat
            bör vi inte vara förvånade över att klimatkrisen är fokuset av låten. Om rörelsen är både för och emot
            antisemitism är det förståeligt varför den hamnar "top of mind" för Ye när han skriver låttexter.
        </li>
        <li>Kanye West hamnade i blåsväder i vintras när han blev bötfälld en summa på 365 tusen dollar, rapporterade <a
                href="https://finance.yahoo.com/news/kanye-west-reportedly-faces-365k-024551463.html">Yahoo
                Finance</a>. Ye vägrar att betala förmögenhetsskatt, vilket gör det troligt att han även ser negativt på
            <a href="https://www.sopor.nu/nyheter/plastpaaseskatten-avskaffad/">plastpåseskatten</a>, som togs bort
            under november förra året. Man kan tänka att låten är en hyllning till alla som rev upp skatten i Sverige.
        </li>

    </ul>
    <p>Mycket pekar på att Kanye Wests låt "Cousines" faktiskt handlar om plastpåsar och klimatkrisen. Personligen är
        jag övertygad om saken, men redaktionen förblir splittrad.</p>
    <p>Smaken är som baken!</p>
</div>

<div class="article-image">
    <img src="img/plastpase.jpeg" alt="Plastpåsar">
    <p class="article-credit">
        <span>
            Skribent: <a href="" class="author">Ancap</a>
        </span>
    </p>
</div>

{% endblock content %}