{% extends "articles/base.html.j2" %}

{% block id %}russiaships{% endblock id %}
{% block header %}Beslagta ryska fartyg!{% endblock header %}

{% block content %}
    <p class="article-text">
        På senare tider har internetkablar i Östersjön klippts av utan att någon tar ansvar för
        händelserna. Det syns dock tydligt att det är Ryssland som står bakom dessa attacker. Vi i
        Europa måste visa att vi inte bara tar detta utan att göra något. Om vi inte ger dem några
        konsekvenser så kommer Putin fortsätta med dessa attacker och så småningom eskalera dem ännu
        mer. Som svar på kabelklippningarna så har jag den perfekta lösningen:
    </p>
                
    <p class="article-list">
        Inför miljöinspektioner
        på "slumpmässiga" fartyg i Östersjön. Dessa kommer givetvis endast vara Ryska fartyg, som också
        alla kommer bli underkända och därmed beslagtagna. På detta vis förstör vi den ryska exporten
        och importen och framförallt visar Putin att han inte kan fortsätta att jävlas med Europa!
    </p>

    <div class="article-image">
        <img src="/img/tankerimage.avif" alt="Anarkokapitalism">
        <p class="article-credit">
            <span>
                Skribent: <a href="" class="author">Saxhytt</a>
            </span>
        </p>
    </div>
{% endblock content %}