{% extends "articles/base.html.j2" %}

{% block id %}somaliaancap{% endblock id %}
{% block header %}Är Somalia en anarkokapitalistisk utopi?{% endblock header %}

{% block content %}

    <p class="article-text">
        
    </p>

    <div class="article-list">
        <p></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <p></p>
    </div>

    <div class="article-image">
        <img src="img/ancap.jpg" alt="Anarkokapitalism">
        <p class="article-credit">
            <span>
                Skribent: <a href="" class="author">Saxhytt</a>
            </span>
        </p>
    </div>

{% endblock content %}