{% extends "articles/base.html.j2" %}

{% block id %}unprotected_sex{% endblock id %}
{% block header %}Riskerna med oskyddat samlag{% endblock header %}

{% block content %}

    <p class="article-text">
        Oskyddat samlag kan verka som en spontan idé i stunden, men det kan leda till allvarliga konsekvenser. 
        Det handlar inte bara om risken att bli förälder innan man är redo, utan också om risken att drabbas av 
        könssjukdomar som klamydia, HIV eller gonorré.
    </p>

    <div class="article-list">
        <p>Men du kan skydda dig!</p>
        <ul>
            <li>Använd kondom - det är enkelt, billigt och effektivt!</li>
            <li>Testa dig regelbundet för könssjukdomar!</li>
            <li>Prata öppet med din partner om skydd och samtycke!</li>
        </ul>
        <p>Tillsammans kan vi skapa ett tryggare och friskare samhälle!</p>
    </div>

    <div class="article-image">
        <img src="/img/kondom.jpg" alt="Symbol för säkrare sex">
        <p class="article-credit">
            <span>
                Bild: <a
                        href="https://www.flickr.com/photos/omgitszo/7756136584"
                        target="_blank">Zorah Olivia</a>
            </span>
            <span>
                Skribent: <a href="" class="author">Ancap</a>
            </span>
        </p>
    </div>

{% endblock content %}