{% extends "articles/base.html.j2" %}

{% block id %}ye{% endblock id %}
{% block header %}Kanye fortsätter - incest och judehat{% endblock header %}

{% block content %}

<p class="article-text">
    Sedan några år tillbaka har det varit tydligt att Ye inte är sitt gamla jag. 2022 var han med på en podcast
    fullt maskerad där han hyllade Hitler och försökte vinkla historien. Yes twitterinlägg blir även dem mer och mer
    radikala för varje dag som går, men efter vårens låtsläpp har han nått en ny botten. Låtarna har varit så pass
    stötande att de förbjudits från Spotify och Apple Music. Nu undrar folk om man med gott sinnelag kan lyssna på hans klassiker från 00-talet.
</p>

<div class="article-list">
    <ul>
        <li>
            I en av låtarna vid namn "Cousins" återberättar Ye om en sexuell akt han utförde med sin manliga kusin som
            liten.
        </li>
        <li>
            Han släppte även en låt som hedrade den ökända rikskanslern Adolf Hitler. Under låten upprepar han en
            nazisthälsning 15 gånger och låter avslutas med utdrag från ett tal av Hitler. Ingen är egentligen förvånad
            då Ye har uttryckt sig antisemitiskt flera gånger innan. Läs mer på <a href="https://omni.se/kanye-i-blasvader-over-nya-laten-heil-hitler/a/alQe0O">Omni</a>
        </li>
    </ul>
    <p>Vi på Goonesredaktionen fördömmer Kanye och hans antisemitism. Sådant beteende är oacceptabelt och hör inte hemma i popkulturen.</p>
    <p>Stay Woke!</p>
</div>



<div class="article-image">
    <img src="/img/ye.jpg" alt="Kanye West">
    <p class="article-credit">
        <span>
            Bild: "<a href="https://commons.wikimedia.org/wiki/File:Kanye_West_by_David_Shankbone_%283465084618%29.jpg" target="_blank">Kanye West</a>"
            by
            <a href="https://www.flickr.com/photos/shankbone/3465084618/" target="_blank">David Shankbone</a>
            is licensed under
            <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>
        </span>
        <span>
            Skribent: <a href="" class="author">Ancap</a>
        </span>
    </p>
</div>

{% endblock content %}