{% extends "base.html.j2" %}

{% block title %}Goones - Artiklar{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/css/artiklar.css">
{% endblock head %}

{% block description %}
Goones-tidningen! Från Kanadavalet till Mongoliets börsmarknad..
{% endblock description %}

{% block content %}
    <main>
        <section id="featured">
            <h2>Artiklar</h2>
            {% include "articles/leo.html.j2" %}
            {% include "articles/plastpase.html.j2" %}
            {% include "articles/cosines.html.j2" %}
            {% include "articles/ye.html.j2" %}
            {% include "articles/gelatofabbricato.html.j2" %}
            {% include "articles/papa.html.j2" %}
            {% include "articles/canadaelection.html.j2" %}
            {% include "articles/russiaships.html.j2" %}
            {% include "articles/somaliaancap.html.j2" %}
            {% include "articles/mongolia.html.j2" %}
            {% include "articles/unprotected_sex.html.j2" %}
            {% include "articles/osterskar.html.j2" %}
        </section>
    </main>
{% endblock content %}
