<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock title %}</title>

    {% block head %}{% endblock head %}
</head>

<body>
    <header>
        <h1>GOONES.SE</h1>
        <nav>
            <a href="/">Hem</a>
            <a href="/articles">Artiklar</a>
            <a href="" class="no-link">Resurser</a>
            <a href="/games">Spel</a>
            <a href="" class="no-link">Om oss</a>
        </nav>
    </header>

    {% block content %}
        <h1>{{ title }} non-existent or non-initialised</h1>
    {% endblock content %}

    <footer>
        <p class="footer-side">&copy; STEM-klubben 2025</p>
        <nav>
            <a href="/">Hem</a>
            <a href="/articles">Artiklar</a>
            <a href="" class="no-link">Resurser</a>
            <a href="/games">Spel</a>
            <a href="" class="no-link">Om oss</a>
        </nav>
        <p class="footer-side"><a href="https://youtu.be/dQw4w9WgXcQ">Användarvillkor</a></p>
    </footer>

    {% block scripts %}{% endblock scripts %}
</body>

</html>
