{% extends "base.html.j2" %}

{% block title %}Goones - Spel{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="css/spel.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
{% endblock head %}

{% block content %}

    <main>
        <dialog>
            <button onclick="dialog.close();" id="kai"><img src="img/brainrotkai.webp" alt=""></button>
        </dialog>
        <section>
            <h2>Wakamole</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptatum atque itaque, mollitia eos molestiae minus, quibusdam dolores aliquid minima quaerat aperiam unde consequuntur accusamus ea tenetur, quas ut voluptas.</p>
            <button class="game-button" data-is-active="false" id="wakamole" onclick="hannesreklamFUNC(); changeStatus(this);">SPELA WAKAMOLE<span class="status"></span></button>
        </section>

        <section>
            <h2>Snake</h2>
            <p>Tja folk, här finns det snake med settings och scores. Trevligt som satan helt enkelt! OBS jag vill inte höra någon jävla kritik på min kod. JS är muppig då den är skriven för typ två år sedan. Om du går in och kollar på javascrpiten, förvänta en shackboxningschallenge inom 3-5 arbetsdagar.</p>
            <button class="game-button" data-is-active="false" id="snake" onclick="switchSnake(); changeStatus(this);">VISA SNAKE<span class="status"></span></button>
            <div class="spread" id="snake-canvas-holder">
                <form id="snake-form">
                    <div class="spread question">
                        <label for="snake-form-size">Spelbredd</label>
                        <input type="number" name="start" id="snake-form-size" placeholder="10" value="10">
                    </div>
                    <div class="spread question">
                        <label for="snake-form-speed">Hastighet</label>
                        <input type="number" name="start" id="snake-form-speed" placeholder="2" value="2">
                    </div>
                    <div class="spread question">
                        <label for="snake-form-start-apples">Startäpplen</label>
                        <input type="number" name="start" id="snake-form-start-apples" placeholder="3" value="3">
                    </div>
                    <button type="button" class="game-button" onclick="game.over(); game.on = true; game.boardSize = document.getElementById('snake-form-size').value; snake.speed = 1/document.getElementById('snake-form-speed').value; document.getElementById('snake-form-size').value; game.startApples = document.getElementById('snake-form-start-apples').value; apples = []; snake.blocks = []; setup();">KÖR</button>
                    <h3>Runs</h3>
                    <ol id="highscore"></ol>
                </form>
            </div>
        </section>
    </main>

{% endblock content %}

{% block scripts %}
    <script src="/js/games.js"></script>
    <script src="/js/snake.js"></script>
{% endblock scripts %}