{% extends "base.html.j2" %}

{% block title %}Goones{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/css/index.css">
{% endblock head %}

{% block description %}
Goones - En plats för skratt, gemenskap och massiva memes!
{% endblock description %}

{% block content %}
    <main>
        <section>
            <h2>Välkommen!</h2>
            <h3>Visionen</h3>

            <p>Välkommen till GOONES.SE Välkommen till den perfekta nyhetshemsidan skapad av självaste Shi Huangdi, Kinas
                förste kejsare! Här blandas gammalt och nytt när Qin-dynastin möter moderna
                händelser. Shi Huangdi ville ena riket, men nu enar han världen genom artiklar. Utforska tusentals
                aktiviteter med kejserlig kvalitet, handplockade för att ge dig ett leende värdigt en kejsare. Börja din resa
                genom Qins rike idag!</p>

            <h3>Resurser</h3>

            <ul>
                <li><a href="https://stem.sa0wii.se">STEM-klubben</a></li>
                <li><a href="https://www.youtube.com/watch?v=xGfJQvzRa0Q" target="_blank">Kung av qin</a></li>
                <li><a href="https://www.icrc.org/sites/default/files/external/doc/en/assets/files/publications/icrc-002-0173.pdf"
                        target="_blank">Genevekonventionen</a></li>
                <li><a href="digitalparm.html">Viktiga dokument</a></li>
            </ul>
        </section>

        <section id="featured">
            <h2>Featured Articles</h2>
            {% include "articles/cosines.html.j2" %}
            {% include "articles/papa.html.j2" %}
        </section>

        <section>
            <h2>Donera till oss!</h2>
            <p>Att driva Goones.se är inte ett billigt arbete. Domännamnet kräver över 200 kr om året från oss, därför
                hade det varit betydande om du väljer att donera till oss!</p>
            <h3>Hur donerar jag?</h3>
            <p>Gå till tågstationen <a
                    href="https://www.google.com/maps/place/Galoppf%C3%A4ltet/@59.4468325,18.0816618,797m/data=!3m1!1e3!4m10!1m2!2m1!1sgaloppf%C3%A4ltet!3m6!1s0x465f9bbcd3fc1603:0xd91f57f3ca68b782!8m2!3d59.4467566!4d18.0833145!15sCg1nYWxvcHBmw6RsdGV0kgEPdHJhbnNpdF9zdGF0aW9uqgE2EAEyHxABIhsypWHVGojx5p9v-iqSBVHV30Es2G88bvUuFUAyERACIg1nYWxvcHBmw6RsdGV04AEA!16s%2Fg%2F11dyltrst?entry=ttu&g_ep=EgoyMDI1MDQyMS4wIKXMDSoASAFQAw%3D%3D"
                    target="blank_">Galoppfältet</a>
                och lägg dina donationer i en burk märkt med "Goones" under papperskorgen närmast utgången av stationen.
            </p>
            <p>Tack till alla som väljer att donera till oss, det uppskattas mycket! &#129297;</p>

        </section>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/js/brainrot.js"></script>
{% endblock scripts %}