{% extends "base.html.j2" %}

{% block title %}Goones - Pluggtips{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/css/pluggtips.css">
{% endblock head %}

{% block description %}
Goones studietekniker och tips!
{% endblock description %}

{% block content %}

    <main>
        <section class="baglun">
            <h2>Baglands Pluggtips!!!</h2>
            <p>Många ungdommar har problem med plugget, detta stämmer ifrån dålig studieteknik. I denna text kommer du
                få lära dig Baglands heliga pluggtekniker som garanterar A i allt.
            </p>
            <p>Denna studieteknik bygger på att minimera plugget så mycket som möjligt. Första och den viktigaste frågan
                är När?</p>
            <h2>När?</h2>
            <p>Svaret på när man ska plugga är väldigt enkelt. Om du inte har något tills imorgon, då har du ledigt och
                behöver inte oroa dig över plugget. Plugga aldrig mer än 1 dag innan provet för då kommer du glömma bort
                allting.</p>
            <p>Om du faktiskt har något tills imorgon har du två val, plugga eller inte plugga. Om provet är litet så är
                det säkert lugnt och då behöver du inte plugga, i värsta fall kan du plugga på morgonen eller på
                lunchrasten.</p>
            <p>Om provet är ett stort prov kan det vara värt att faktiskt plugga dagen innan provet. När du väl ska
                plugga behöver du svaret på nästa fråga Hur?</p>
            <h2>Hur?</h2>
            <p>Du kommer nu få lära dig de två bästa pluggteknikerna som någonsin skådats: Gibbplugga och sovmetoden.</p>
            <h3>Gibbplugga</h3>
            <p>Alla vet att plugga är skit tråkigt medans att gibba är mycket roligare. Därför har jag kommit på ett
                sätt att slå ihop de.</p>
            <p>Gibbplugget går ut på att balansera mängden plugget och spelandet, detta görs genom att du spelar och när
                det går dåligt så pluggar du. För att lyckas med detta behöver du välja rätt spel.</p>
            <p>Välj något riktigt skitspel eftersom du vill uppna en ratio på 3:2 av plugg och spel. Försök att plugga i
                intervaller runt 3-5 min, inte längre för då funkar det inte.</p>
            <p>Varför detta fungerar så bra är att efter du har pluggat så gör du något du tycker är roligt vilket lurar hjärnan
                att tro att det du lärde dig var roligt och därför kommer du ihåg det bättre. Medans du spelar kommer du
                också tänka på det du nyss pluggat på vilket leder till att hjärnan kan bearbeta informationen bättre.
            </p>
            <p>Gibbplugget fungerar bäst när materialet du ska lära dig är någon sorts bok men fungerar med andra saker
                också. Jag har alltid haft svårt att börja plugga och gibbplugget gör det så mycket lättare</p>
            <p>För att maximera effektiviteten av gibbplugget ska du se till att plugga efter åtminstånde 20:00 och
                helst efter 22:00. Det är de tiderna du är mest vaken och har mest tid. Sova är ändå overrated och
                om du pluggar sent kan du kombinera effekterna av gibbplugget med näst metod sovmetoden.</p>
            <h2>Sovmetoden</h2>
            <p>Sovmetoden är mycket enklare än gibbplugget. Den går ut på att du pluggar direkt innan du lägger dig. När du då går och lägger och somnar kommer hjärnan bearbeta informationen medans du sover. När du sedan vaknar kommer du komma ihåg allting även om du knappast kunde något innan du gick och la dig.</p>
            <p>Om man kombinerar detta med att gibbplugga på kvällen kommer du komma ihåg allting du pluggat på och därmed få A på provet. </p>
            <h2>Källor</h2>
            <div class="spread">
                <div>
                    <p>Finns inga, baserad på mina egna upplevelser och när jag använt dessa pluggtekniker och fått väldigt bra resultat. Jag uppmanar alla som läser detta att iallafall testa någon av de här metoderna åtminstånde en gång för något oviktigt prov, du kommer vara chockad över resultaten</p>
                    <p>"They ain't believe in us, God did" - Dj Khalid</p>
                </div>
                <div style="padding: 20px">
                    <img src="img/bagland.jpg" alt="" >
                    <p>Skribent: Adam Adam Bagland</p>
                </div>
            </div>
            


        </section>
    </main>
{% endblock content %}